<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Stream Searcher </title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

<nav>
    <div class="navbar">
        <div class="div-container">
            <form class="form-container" th:action="@{/index}" method="get">
                <input type="text" id="movieSearch" name="query" placeholder="Search a Movie">
            </form>
        </div>
    </div>
</nav>
<div class="grid">
    <!-- <p class="content-text" th:if="${movie.title == 'Film not found'}" th:text="${movie.title}">This is a title</p> -->
    <div class="col" th:each="movie : ${movies}">
        <p class="content-text" th:if="${movie.title != ''}" th:text="${movie.title}">Film not found</p>
        <img class="content-image" data-tool-tip="" th:if="${movie.poster != ''}" th:src="@{${movie.poster}}"/>
        <p class="content-text" th:if="${movie.country != ''}" th:text="${movie.country}">This is a title below an image</p>
    </div>

</div>

<!--
<ul>
<li th:each="movie : ${movies}">
    <div class="content-container" >
        <p class="content-text" th:text="${movie.Title}"></p>
        <img class="content-image" data-tool-tip="" th:if="${movie.Poster != ''}" th:src="@{${movie.Poster}}" />
        <p class="content-text" th:if="${movie.Type != ''}" th:text="${movie.Type}"></p>

    </div>
</li>
    <li th:each="movie : ${movies}">

        <div class="content-container" >
            <p class="content-text" th:text="${movie.title}"></p>
            <img class="content-image" data-tool-tip="" th:if="${movie.image != ''}" th:src="@{${movie.image}}" />
            <p class="content-text" th:if="${movie.description != ''}" th:text="${movie.description}"></p>
        </div>

    </li>
</ul>
-->

</body>
</html>